body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  background-image: url("images/test-bg-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

img {
  max-width: 100%;
}

.mainWrapper {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 248, 250, 0.7);
}

.entireWrapper {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 3rem;
  box-shadow: 2px 2px 5px rgba(16, 17, 17, 0.5);
}

.formWrapper {
  width: 400px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .6);
  background-color: rgba(255, 255, 255, 1);
}

.logoWrapper {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px 10px 0 0;
  margin: 1rem;
}

.formWrapper img {
  margin: 1rem auto;
}

footer {
  padding: 5rem 0 1rem 0;
}

footer p {
  font-size: .7rem;
}