.newUserMainWrapper {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 248, 250, 0.7);
}

.newUserFormWrapper {
  padding: 3rem 4rem;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px 5px rgba(16, 17, 17, 0.5);
}

.newUserFormRow {
  width: 400px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.newUserLogoWrapper {
  border-radius: 10px 10px 0 0;
  background-color: rgba(255, 255, 255, 1);
  margin: 1rem;
}

.newUserFormWrapper img {
  margin: 1rem auto;
}

.newUserForm {
  text-align: center;
  background-color: rgb(238, 248, 248);
  padding: 2rem;
}

.newUser-form-control {
  font-size: .9rem;
  padding: .5rem;
  margin: 1rem auto;
  width: 80%;
  text-align: center;
  border: 1px solid #d6d5d5;
}

.newUser-form-control::placeholder {
  color: #a0a0a0;
}

.newUserForm label, .newUserForm p {
  color: #385877;
  font-size: .9rem;
  margin-top: 1rem;
}

.newUserLoginBtn {
  background-color: #3f6990;
  color: #fff;
  margin: 1rem auto;
  font-size: .9rem;
}

.newUserLoginBtn:hover {
  background-color: #325779;
  color: #b8d7f5;
}

.newUserNewUser a, .newUserForgotPassword a {
  color: #385877;
}

.newUserNewUser a:hover, .newUserForgotPassword a:hover {
  color: #0f5e5e;
}