.newUserMainWrapper {
  width: 90vw;
  height: 90vh;
  margin: 5% auto;
  margin-top: 5%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 248, 250, 0.7);
}

.newUserContentsRow h4 {
  text-align: center;
  padding-bottom: 1rem;
}

.newUserContentsWrapper {
  padding: 3rem 4rem;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px 5px rgba(16, 17, 17, 0.5);
}

.newUserContentsRow {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.newUserLogoWrapper {
  border-radius: 10px 10px 0 0;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

.newUserLogoWrapper img {
  margin: 1rem auto;
}

.newUserForm {
  text-align: center;
  background-color: rgb(242, 248, 248);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newUser-form-control {
  font-size: .9rem;
  padding: .5rem;
  margin: .1rem auto;
  width: 80%;
  text-align: center;
  border: 1px solid #d6d5d5;
}

.newUser-form-control::placeholder {
  color: #a0a0a0;
}

.selectField select option {
  color: #585858;
}

.newUserForm label, .newUserForm p {
  color: #385877;
  font-size: .9rem;
  margin-top: 1rem;
}

form .newUserNote {
  color: rgb(255, 72, 0);
}